
#main-info {
  background-color: lime;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 10px;
}

div.container {
  display: flex;
  flex-direction: row;
}

h2, p label {
  color: grey;
}

h2 {
  font-size: 1.5rem;
}

label {
  margin: 0;
  margin-right: 10px;
}

p {
  margin: 0rem;
}

#poster {
  width: 100px;
  margin: auto;
}